@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Lora:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: #153651;
}

/* headdings */

h1, h2 {
    font-family: Cinzel Decorative, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #153651;
}

/* logo and nagivation links */
#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu, #logo{
    line-height: 70px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid blue;
}

.active {
    border-bottom: 1px solid blue;
}

/* hero image */

#hero-out {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#highlight-text, #highlight-text h2 {
color: rgb(255, 255, 255);
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image-bartender.jpg') no-repeat center center;
    background-size: cover;
    /*animater unblur effect*/
    filter: unblur(10px);
    animation: hero-unblur 2s ease-in-out;
}

/* creates the blur effect for hero image */

@keyframes hero-unblur {
    0%{
        transform: scale(1.2);
        filter: blur(10px);
    }
    100%{
        transform: scale(1);
        filter: blur(0);
    }
}

#highlight-text {
    font-size: 100%;
    font-family: Lora, sans-serif;
    letter-spacing: 2px;
    width: 400px;
    height: 200px;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 20px;
    border-radius: 10% 25%;
    background-color: rgba(7, 64, 96, 0.7);
    bottom: 30px;
    left: 150px;
    position: absolute;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #153651
}