@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Lora:ital@1&display=swap');

:root {

    --main-primary: #fdfdfd;
    --main-secondary: #cdcdcd;
    --text-primary: #153651;
    --text-secondary: #235681;
    --white: rgb(255, 255, 255);
    --about-primary: #333333;
    --about-secondary: #555555;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}

header nav {
    display: flex;
    align-items: center;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: var(--main-primary);
    color: var(--text-primary);
}

p {
    line-height: 2rem;
}

/* headdings */
h1,
h2 {
    font-family: Cinzel Decorative, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--text-primary);
}


/* logo and nagivation links */
#logo {
    margin-top: 8px;
    padding-left: 30px;
    font-size: 280%;

}

header a {
    text-decoration: none;
}

#menu {
    letter-spacing: 2px;
}


#menu li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    border: 1px solid var(--main-primary);
    border-radius: 20px;
    padding: 10px;
    transition: border 0.8s ease;
}

#menu a:hover {
    color: var(--text-secondary);
    border: 1px solid var(--text-secondary);

}

.active {
    color: var(--text-secondary);
    font-weight: bold;
}


/* hero image */
#hero-out {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image-bartender.jpg') no-repeat center center;
    background-size: cover;
    /*animated unblur effect*/
    animation: hero-unblur 2s ease-in-out;
}

/* creates the blur/zoom effect for hero image */

@keyframes hero-unblur {
    0% {
        transform: scale(1.2);
        filter: blur(10px);
    }

    100% {
        transform: scale(1);
        filter: blur(0);
    }
}

#highlight-text {
    font-size: 100%;
    font-family: Lora, sans-serif;
    letter-spacing: 2px;
    width: 250px;
    height: 250px;
    padding: 40px 10px 0 20px;
    border-radius: 10% 25%;
    background-color: rgba(7, 64, 96, 0.8);
    bottom: 30px;
    left: 40px;
    position: absolute;
}

#highlight-text,
#highlight-text h2 {
    color: var(--white)
}

/* about us */
.section-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    min-height: 600px;
    align-items: center;
    background-color: var(--main-primary);
    color: var(--text-primary);
}

.section-card h2 {
    margin-top: 40px;
}

.section-card h3 {
    margin-top: 20px;
    padding: 20px;
}

.section-card .content {
    display: flex;
    flex-direction: row;
}

.content-about-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-about-us {
    margin: 20px;
    padding: 20px;
    width: 500px;
    border-radius: 20% 0%;
    box-shadow: 0px 0px 30px var(--main-secondary);
}

.content-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-services h3 {
    margin-top: 20px;
    padding: 10px;
}

.card-about-us a {
    text-decoration: none;
    color:var(--text-primary);
    font-size: 110%;
    font-weight:bold;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20% 0%;
    box-shadow: 0px 0px 30px var(--main-secondary);
    margin: 20px;
}

.card img {
    padding: 40px;
    width: 350px;
    object-fit: cover;
    box-sizing: border-box;
}

.card p {
    padding-right: 20px;
    width: 450px;
}

.text-padding {
    padding: 30px 0;
    align-self: center;
}

.card-packages {
    border-radius: 20% 0%;
    box-shadow: 0px 0px 30px var(--main-secondary);
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

.card-packages ul {
    list-style: none;
    text-align: left;
    padding: 20px;
}

.card-packages ul li {
    margin-bottom: 20px;
}


/* why choose us */

#choose-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choose-us-content {
    background-image: url("../images/choose-us2.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    border-radius: 0% 20%;
    display: flex;
    align-items: stretch;
    color: var(--white);
    text-align: center;
    justify-content: space-around;
}

#choose-us-content i {
    color: var(--white);
    font-size: 200%;
    padding: 20px;
}


#choose-us-content div {
    color: var(--white);
    background-color: rgba(0, 0, 0, .5);
    padding: 70px 10px;
}


/* Gallery */

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.top-text {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 40px;
}

#gallery img {
    width: 325px;
    height: 400px;
    border-radius: 20% 0%;
    justify-content: center;
    object-fit: cover;
    margin: 20px
}

/*Contact us*/
.contact-section {
    background: url('../images/contact-background.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
}

.form {
    color: var(--white);
    font-size: 105%;
    background-color: rgba(7, 64, 96, 0.9);
    max-width: 400px;
    padding: 30px;
    margin: 10px;
    border-radius: 20% 0;
}

.form>h2 {
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
}

.text-form {
    color: black;
    font-family: Lora, sans-serif;
    font-size: 105%;
    background-color: rgb(255, 244, 244);
    padding: 1%;
    border-radius: 5px;
}

.text-form-white {
    color: white;
    font-family: Lora, sans-serif;
    font-size: 105%;
    padding: 1%;
}

.text-input {
    background: transparent;
    color: var(--white);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid var(--white);
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.5s ease-in-out;
}

.text-input:hover {
    border: 2px solid white;
}

.text-input:focus {
    outline: none;
    background-color: var(--text-secondary);
}

.send-button {
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid var(--white);
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: var(--text-primary);
    color: #fafafa;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}

.send-button:hover {
    background-color: #fafafa;
    color: var(--text-primary);
}


/* footer */
footer {
    margin-top: 20px;
    height: 150px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 75%;
    margin-bottom: 10px;
    text-align: center;
}

.icon-zoom-effect i:hover {
    color: var(--text-secondary);
    font-weight: bold;
}

.social-networks {
    font-size: 130%;
    text-align: center;
}

.social-networks>li {
    display: inline-block;
    margin: 20px;
}


.social-networks i {
    transition: color 0.5s ease;
    font-size: 200%;
    color: var(--text-primary)
}

/* On screens that are 860px or less */
@media screen and (max-width: 860px) {

    header {
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    #logo {
        padding-left: 0;
        margin: 25px 0;
        text-align: center;
    }

    ul {
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    #menu {
        letter-spacing: 1px;
    }

    #menu li {
        margin: 5px 0 5px 0;
    }

    #menu a {
        margin: 0;
    }

    #choose-us-content,
    .section-card .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    #choose-us-content {
        margin-bottom: 30px;
    }

    #choose-us-content div {
        padding: 40px 20px;
    }

    #about-image {
        height: 400px;
        width: 100%;
        margin-bottom: 20px;
    }

    #menu a {
        text-decoration: none;
        color: inherit;
        border: 0px solid var(--main-primary);
        padding: 5px;
        transition: border 0.0s ease;
    }

    .card {
        align-self: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .card img {

        width: 300px;
        object-position: top;
        object-fit: cover;
    }

    .card p {
        width: 200px;
    }

    .card-about-us,
    .card-packages {
        margin: 20px;
        width: 80%;
        height: auto;
    }

    .card-packages p {
        width: 50%;
    }

    #gallery {
        margin: 10px;
    }

    .contact-section {
        margin-bottom: 50px;

    }
}

/* On screens that are 330px or less*/
@media screen and (max-width: 330px) {
    .form {
        max-width: 250px;
        margin: 5px;
    }

    nav {
        font-size: 90%;
    }

    .card {
        margin: 0;
    }

    .card p {
        padding: 0;
        margin: 0;
    }

    .top-text {
        font-size: 90%;
        margin: 20px;
    }

}